pyRPG_local/classes/__pycache__/Player.cpython-310.pyc
pyRPG_local/classes/__pycache__/Text.cpython-310.pyc
pyRPG_local/classes/__pycache__/Utility.cpython-310.pyc
pyRPG_local/dictionaries/__pycache__/world.cpython-310.pyc
